body {
    background-color: #FDF6EC;
    color: #4D4646;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    text-align: center;
}

header {
    background-color: #4D4646;
    color: #FDF6EC;
    padding: 2%;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

.container-fluid {
    padding-top: 2%;
}

.col {

    height: 11rem;
    width: 11rem;
}

.arrow {
    font-size: 10rem;
}

.up {
    color: #187498;
}

.left {
    color: #36AE7C;
}

.right {
    color: #EB5353;
}

.down {
    color: #F9D923;
}