body {
    background-color: #F7F2E7;
    color: #797A7E;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    text-align: center;
}

header {
    background-color: #797A7E;
    color: #F7F2E7;
    padding: 2%;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

.container-buttons {
    padding-top: 2%;
}

.card {
    background-color: #F7F2E7;
    color: #797A7E;
}

.col-button {

    height: 11rem;
    width: 11rem;
}

.number {
    color: #ff9661;
}

.arrow {
    font-size: 10rem;
}

.up {
    color: #187498;
}

.left {
    color: #36AE7C;
}

.right {
    color: #EB5353;
}

.down {
    color: #F9D923;
}